@charset "UTF-8";

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.bg-nav {
background-color: #A8AAC4 !important;
}

.nav-link{
	color: #fff;
	margin: .5em;
}

.dark-pl{
	color: #30345C;
	font-size: 60px;
	text-decoration: underline;
	text-decoration-thickness: 10px; 
	text-decoration-color: #CA97AA;
}

.dark-pl-title{
	color: #30345C;
	font-size: 30px;
}

.light-pl{
	background-color: #A8AAC4; 
}

body{
	margin: 0 auto;
	font-family: Montserrat;

}

h1{
	font-weight: 700;
}

h3, h4{
	margin: 0px;
}

p, li{
	font-size: 20px;
}

h5{
	margin-top: 4px !important;
}
.image-header{ 
  position: relative;
  padding-right: 0px; 
  padding-left: 0px;
  overflow: hidden;
  background-color: #fff;
  max-height: 1700px;
}

.program-photos{
	width: 100%;
}

.image-header-img{
	width: 100%; 
}

.img-col{
	position: relative;
	width: 38%;
	top: 100%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1000;
}

.partner-png img{
	width: 60%;
	margin-bottom: 50px;
}

.bb{
	position: absolute;
	top: 65%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	background-color: #fff;
	outline: 7px solid #A8AAC4;
  outline-offset: 20px;
	padding: 5%;
	background-color: #A8AAC4;
	width: 50%;
	max-height: 500px;

}

.btn{
	width: 200px; 
	background-color: #fff;
	color: #30345C; 
	border-radius: 100px; 
	padding: .5em;
	margin: 0 auto;
}

.btnn{
	width: 200px; 
	background-color: #252953;
	color: #fff; 
	border-radius: 100px; 
	padding: 1%;
	margin-top: 50px;
}

.partner-btn{
	width: 200px; 
	background-color: #252953;
	color: #fff; 
	border-radius: 100px; 
	padding: 1%;
	margin: 50px auto;
}

.logo{
	width: 60px; 
}

.opening{
	position: relative;
	width: 100%;
}

.opening-text{
	width: 100%;
	position: absolute;
    top: 20%;
    left: 63%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.opening-text img{
	width: 90%;
}

.page-header-box{ 
	margin-top: 5%;
  position: relative;
  overflow: hidden;
  padding-right: 0px; 
  padding-left: 0px;
  height: 250px;  
}

#event-header, #about-header{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#event-header{
	width: 80%;
}

#about-header{
	width: 80%;
}


.video{
	width: 80%;
	margin: 5em auto;
}

.container-text{
	width: 80%;
	margin: 0 auto;
}

.blog-section{
	display: block;
	clear: both;
}

.carousel-item{
	max-height: 800px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	background-color: #252953;
}

.carousel-text{
	text-align: center;
	position: absolute;
	color: #fff;
	  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.btn-carousel{
	margin: 0 auto;
	width: 150px; 
	background-color: #fff;
	color: #30345C; 
	border-radius: 100px; 
  margin-top: 1em;
  padding: 1px;
}

.ht{
	height: 350px;
	margin: 1%;
	background-color: #c2c2c2;
}

.mrgn{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 10%;
}

.event-title{
	font-weight: 900;
	color: #252953;
}

footer{
	padding-top: 15px; 
	width: 100%; 
	height: 75px;
	background-color: #252953; 
	text-align: center;
	color: #fff; 
	font-size: 12px;
	border-radius: 200px 200px 0px 0px;
	clear: both;
}

input{
	width: 50%;
	border-radius: 50px 0px 0px 50px;
	border: none;
	padding: 10px;
	float: left;
	background-color: #252953;
	color: #fff;
}

.button{
	width: 30%;
	background-color: #A8AAC4;
	border-radius: 0px 50px 50px 0px;
	border: none;
	color: #fff;
}

.form-id{
	position: relative;
	height: 300px;
	width: 100%;
	overflow: hidden;
}

.form-id-inner{
	width: 100%;
	position: absolute;
	top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
   

}


@media only screen and (min-width: 800px) {
	.nav-link{
	color: #fff;
	margin: 1em;
}

.dark-pl-title{
	font-size: 60px;
}

.form-id-inner{
    left: 82.5%;
}

input{
	width: 25%;
}

.button{
	width: 10%;
}

.mrgn{
	width: 70%;
}

#event-header{
	width: 60%;
}

#about-header{
	width: 60%;
}


}

