@charset "UTF-8";

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.bg-nav {
background-color: #A8AAC4 !important;
}

.nav-link{
	color: #fff;
	margin: .5em;
}

.dark-pl{
	color: #30345C;
	font-size: 72px;
	text-decoration: underline;
	text-decoration-thickness: 10px; 
	text-decoration-color: #CA97AA;
}

body{
	font-family: Montserrat;
}

h1{
	font-weight: 700;
}

h3{
	margin: 0px;
}

p{
	font-size: 20px;
}

h5{
	margin-top: 4px !important;
}
.image-header{ 
  position: relative;
  overflow: hidden;
  padding-right: 0px; 
  padding-left: 0px;
  max-height: 900px;  
}

.image-header-img{
  width: 100%; 
}

.bt{
	background-color: #fff;
}

.ba{
	min-height: 450px;
	background-color: #fff;
	position: relative;
}

.bb{
	outline: 7px solid #A8AAC4;
  outline-offset: 20px;
	padding: 5%;
	background-color: #A8AAC4;
	position: absolute;
	width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.btn{
	width: 200px; 
	background-color: #fff;
	color: #30345C; 
	border-radius: 100px; 
	padding: .5em;
}


.img-col{
	width: 100%;
}

.logo{
	width: 60px; 
}

.opening{
	position: relative;
	width: 100%;
}

.opening-text{
	width: 100%;
	position: absolute;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.opening-text img{
	width: 90%;
}

.page-header-box{ 
  position: relative;
  overflow: hidden;
  padding-right: 0px; 
  padding-left: 0px;
  height: 400px;  
}

.page-header{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.page-header img{
	width: 100%;
}

.video{
	width: 80%;
	margin: 5em auto;
}

.container-text{
	width: 80%;
	margin: 0 auto;
}

.carousel-item{
	max-height: 800px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	background-color: #252953;
}

.carousel-text{
	text-align: center;
	position: absolute;
	color: #fff;
	  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.btn-carousel{
	margin: 0 auto;
	width: 150px; 
	background-color: #fff;
	color: #30345C; 
	border-radius: 100px; 
  margin-top: 1em;
  padding: 1px;
}

.ht{
	height: 350px;
	margin: 1%;
	background-color: #c2c2c2;
}

footer{
	padding-top: 15px; 
	width: 100%; 
	height: 75px;
	background-color: #252953; 
	text-align: center;
	color: #fff; 
	font-size: 12px;
	border-radius: 200px 200px 0px 0px;
}


@media only screen and (min-width: 800px) {
	.nav-link{
	color: #fff;
	margin: 1em;
}
}

